
.product-list {
    .ant-card-body {
        padding: 20px;
    }
}

.product-list__card {
    position: sticky;
    top: 0;
}

.product-list__row--margin-bottom {
    margin-bottom: 8px;
}

.product-list__col--aligh-right {
    text-align: right;
}

.product-list__pagination {
    .ant-pagination-options {
        margin-top: 8px;
    }
}

.product-list__block-product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.product-list__title {
    width: 100vw;
    color: #389e0d;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 8px;
    border-bottom: 2px #1DA57A solid;
}

.layout {
    display: flex;
    margin-bottom: 8px;
    margin-right: 8px;
}

.layout__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    position: relative;
    border-radius: 15px;
    border: 2px solid darkgray;
    overflow: hidden;
}

.layout__button {
    position: absolute;
    top: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.layout__button--lock {
    right: 0;
}

.layout__button--remove {
    left: 0;
}

.product-detail {
    width: 100px;
    height: 173px;
}

.product-detail__text-deleted {
    font-size: 15px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #1DA57A;
    background-color: #ffffff;
    width: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-top: solid #1DA57A 3px;
    border-bottom: solid #1DA57A 3px;
    z-index: 2;
}
.product-detail--height-large {
    height: 212px;
}

.product-detail--layout-deleted {
    position: relative;
    background-color: #f0f0f0
}

.product-detail--opacity-half {
    opacity: 0.5;
}

.product-detail__slot {
    color: #1DA57A;
    font-weight: bold;
}

.product-detail__name {
    height: 30px;
    font-size: 13px;
    line-height: 1.2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.product-detail__name--font-weight-bold {
    font-weight: 600;
}

.product-detail_info-container {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.product-detail__price {
    font-size: 10px;
}

.product-detail__money {
    height: 25px;
    background-color: #389e0d;
    color: #ffffff;
    font-size: 15px;
}

.product-detail__remaining-quantity {
    font-size: 10px;
}